{% extends 'base_test.html.twig' %}

{% block title %}Fiche personnage{% endblock %}

{% block body %}
    <div class="bg-white ml-20">
        Coucou
    </div>
    <div class="mt-40">
        Hello
    </div>
{% endblock %}
