{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="space-y-4">
        <h1 class="text-2xl font-bold">Console MJ</h1>

        <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-3">

        </div>
    </div>
{% endblock %}
